body{
    background-color: #fff6d8;
    background-image: url(cabecalhos_back.png);
    background-repeat: repeat-y;
    background-position: left center;
    margin-left: 10%;
}

p{
    text-indent: 35px;
}

h1, h2{
    color: #906718;
}
hr{
    border-style: dashed;
    border-width: 2px;
    color: #906718;
}

h3{
    color: white;
    background-color: #d48b00;
    padding: 5px 0 5px 5px;

}